html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position: relative;
  width:400px;
  height:400px;
}

.consent_button {
  display: block;
  padding: 20px;
  background: transparent;
  color:#FFF;
  font-family: 'Arial';
  font-size:14px;
  line-height: 18px;
  border: 2px solid #FFF;
  /* bottom: 50px;
  left: 50%;
  transform: translateX(-50%); */
  text-transform: uppercase;
}

.hide_button {
  display: none;
}

.consent_text {
  display: block;
  width:100%;
  max-width: 300px;
  /* left:50%;
  top:50%; */
  /* transform: translateX(-50%) translateY(-50%); */
  font-family: 'Arial';
  font-size:14px;
  line-height:18px;
  color:#FFF;
}